#calc-body{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calc-content{
    width:400px;
    height: 400px;
    background-color: black;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inp-screen{
    margin: 5px;
    margin-top: 15px;
    height: 70px;
    width: 90%;
    border-radius: 16px;
    font-size: 70px;
    overflow: scroll;
}

#but-body{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.clac-buttons{
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 50px;
    font-size: 20px;
}
.spl-calc-but{
    background-color: orangered;
}

.pr-2{
    padding-right: 5px;
}