#keyboard-body{
    height: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

#keyboard-homepage-body{
    height: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.keyboard-homepage-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
#keyboard1{
    background-color: black;
    width: 1000px;
    height: 320px;
    border: 5px solid #333;
    border-radius: 20px;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;

    flex-direction: column;
    align-items: center;    
    justify-content: center;
    position: relative;
    overflow: hidden; */
}
.row{
    width: 100%;
    display: flex;
    align-items: start;
    /* justify-content: center; */
    margin-bottom: 10px;
}
.key{
    width: 35px;
    height: 35px;
    background-color: #444;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* font-size: 17px; */
    cursor: pointer;
}
.extra{
    background-color: transparent;
    border: none;
    cursor: auto;
}
.extra-bg{
    width: 15px;
    background-color: red;
    border: none;
    cursor: auto;
}
.extra-sm{
    width: 8px;
    background-color: red;
    border: none;
    cursor: auto;
}

