#navbar-body{
        height: 100px;
    background-color: #ffffff;
    color: #000000;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

#basic-nav-dropdown{
    margin-right: 5vw;
}