.typewrite{
  text-decoration: none;
  color: black;
  font-family: "Andika", sans-serif;

}
/* stamp design  */

.stamp-border {
  /* Change this value to adjust the stamp perforation size: */
  --radius: 8px;

  background-image: 
    radial-gradient(
      var(--radius),
      transparent 98%,
      white
    ),
    linear-gradient(white 0 0);
  background-repeat: 
    round, 
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}


/*  Cosmetic styles */


.stamp-border {
  width: min(50%, 600px);
  height: 50%;
  inset: 0;
  margin: auto;
}


/* coursel styles */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: transparent;
} 

.gallery-cell {
  width: 20%;
  height: 100%;
  margin-right: 10px;
  background: transparent;
  counter-increment: gallery-cell;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}